table.games-list-table {
    width: 60%;
  }
  
table.games-list-table tr {
    background-color: white;
}
  
table.games-list-table tr:hover {
    background-color: lightgray;
}
  
.centered {
    margin: 0 auto;
}

.icon-format {
    cursor: pointer;
    padding-right: 10px;
}

.message-box-position {
    margin-left: 20%;
    margin-right: 20%;
}

.message-no-games-found {
    text-align: center;
    text-decoration: underline;
    font-weight: lighter;
    margin-top: 2%;
}