<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <h1>
      {{platform}}
    </h1>    
  </div>
</div>

<table class="table games-list-table centered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Platform</th>
      <th scope="col">Release Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of gamesList">
      <th scope="row">{{game.id}}</th>
      <td>{{game.title}}</td>
      <td>{{game.platform}}</td>
      <td>{{game.releasedate}}</td>
    </tr>
  </tbody>
</table>