.underline-on-hover:hover {
    text-decoration: underline;
}

.google-sign-in-image {
    cursor: pointer;
    margin-left: 73%;
}

.google-logged-out {
    color: white;
    margin-left: 80%;
    cursor: pointer;
}