<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand underline-on-hover" routerLink="">Home</a>
  <a class="navbar-brand underline-on-hover" routerLink="/gameslist">My Games</a>
  <a class="navbar-brand underline-on-hover" routerLink="/gamesadd">Add Games</a>  

  <img *ngIf="!isLogIn" class="google-sign-in-image" src="../assets/google/btn_google_signin_light_normal_web.png" (click)="doSignIn()" />
</nav>
<router-outlet></router-outlet>