/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import '_variables';
@import "../node_modules/font-awesome/scss/font-awesome";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding-top: 5rem;
}

table.games-list-table {
  width: 60%;
}

table.games-list-table tr {
  background-color: white;
}

table.games-list-table tr:hover {
  background-color: lightgray;
}

.centered {
  margin: 0 auto;
}