/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import '_variables';
@import "../node_modules/font-awesome/scss/font-awesome";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Global CSS attributes across components.

body {
  padding-top: 5rem;
}

.text-underline {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  line-height: 5px;
}